.carousel-images .carousel-list .carousel-list-item {
    /* border: 1px solid #F8F8F8; */
    border: 1px solid #fff;
    width: 65px;
    padding: 0 2px;
}

.carousel-images .carousel-list .section .on {
    border: 1px solid #F8F8F8;
    font-weight: bold;
}

.carousel-images .carousel-list img.cq-dd-image {
    border: 1px solid #F8F8F8;
}

.carousel-images .on img.cq-dd-image {
    border: 1px solid #000000;
}

.carousel-images .carousel-list .carousel-list-item .title-text {
    font-weight: bold;
    color: #000000;
}

.carousel-images .carousel-list .carousel-list-item img, #photo-gallery-large-image-carousel .carousel-list-item img {
    border: 1px solid #C2C2C2;
}

.carousel-images .carousel-list .carousel-list-item:hover img, #photo-gallery-large-image-carousel .carousel-list-item:hover img {
    border: 1px solid #7c7c7c;
    font-weight: bold;
}

.carousel-images .carousel-list .carousel-list-item:hover .title-text {
    font-weight: bold;
    color: #666666;
}

.carousel-images .carousel-viewport .carousel-list .section .on .title-text {
    color: #666666;
    font-weight: bold;
}

.carousel-images {
    background-color: #F8F8F8;
    /*  border:1px solid #C2C2C2; */
    height: 36px;
    margin: 0px;
    padding: 0px;
    width: 240px;
    clear: left;
}

/* NEW  */
.carousel-images {
    background-color: #FFFFFF;
    border: 0 none;
    border-top: 1px solid #C2C2C2;
    clear: left;
    height: 55px;
    margin: 0;
    padding: 10px 0;
    padding: 10px 0 2px;
    width: 240px;
}

.carousel-images .carousel-list {
    position: relative;
    left: 0;
}

.carousel-images .carousel-viewport {
    height: 100%;
    float: left;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 214px;
    position: relative;
}

.carousel-images .carousel-list-item {
    float: left;
    width: 50px;
    text-align: center;
}

.carousel-images .title-text {
    font-weight: bold;
    display: inline;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    width: 120px;
}

.carousel-images .left-arrow-btn {
    float: left;

}

.carousel-images .arrow-border {
    border: 1px solid white;
    width: 19px;
    border: 0 none;
    width: auto;
}

.carousel-images .right-arrow-btn {
    cursor: pointer;
    float: right;
}

.carousel-images .left-arrow {
    background: url(../images/arrow_slide_left.png) 0 0 no-repeat;
    margin: 7px 0 0 7px;
    margin: 22px 0 0;
    height: 9px;
    width: 9px;
    border: 0px;
    padding: 0px;
}

.carousel-images .right-arrow {
    background: url(../images/arrow_slide_right.png) 0 -9px no-repeat;
    margin: 13px 0 0 7px;
    margin: 22px 0 0;
    height: 9px;
    width: 9px;
    border: 0px;
    padding: 0px;
}

.carousel-images .left-arrow:hover {
    background: url(../images/arrow_slide_left.png) 0 0 no-repeat;
}

.carousel-images .right-arrow:hover {
    background: url(../images/arrow_slide_right.png) 0 0 no-repeat;
}

.carousel-list-item .video-thumbnail:hover img {
    border: 1px solid #000000;
}

.carousel-images .carousel-parsys .carousel-list-item {
    float: none;
}

.carousel-images .carousel-list {
    width: 1918px;
}

.carousel-parsys {
    margin: -1px;
    border: 1px solid #C2C2C2 !important;
    padding: 12px 0 0 0px;
    width: 546px;
    float: left;
    background-color: #F8F8F8;
}

.carousel-parsys-message {
    font: 12px/16px Arial, Helvetica, sans-serif;
    padding: 0 0 10px 10px;
}

.carousel-images .carousel-list-item img.cq-dd-image {
    width: 120px;
    height: 88px;
}

#photo-gallery-large-image-carousel #photo-gallery-large-image-carousel-list .on img {
    border: 1px solid #000000;
}

<!--
* * * * CSS CHANGES START HERE

-->

.photo-tools {
    clear: both;
    float: left;
    width: 242px;
}

.photo-tools .zoom-tool {
    float: left;
    margin: 10px 0;
}

.photo-tools .expand-tool {
    float: right;
    margin: 10px 0;
    cursor: pointer;
}

form.colors {
    clear: both;
    float: left;
    width: 240px;
}

.colors label {
    float: left;
    font-size: 11px;
    font-weight: bold;
}

.colors select {
    float: right;
    font-size: 10px;
    font-weight: bold;
}

/* enlarge carousel */
.overview-product-model .left-column {
    position: relative;
}

.jqEnlargeCarousel {
    background: none #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.25);
    height: auto;
    padding: 10px 0 0;
    width: 728px;
    z-index: 99;
    display: none;
    border: 1px solid #C2C2C2;
}

.jqEnlargeCarousel .largeImage {
    min-height: 430px;
}

#photo-gallery-large-image {
    display: block;
    float: none;
    margin: 6px auto;
    width: 82%;
}

.jqEnlargeCarousel a:link.close {
    margin: 0;
    position: absolute;
    top: 15px;
    right: 0;
    padding: 20px;
}

#photo-gallery-large-image-carousel {
    background-color: #F8F8F8;
    border-top: 1px solid #C2C2C2;
    display: block;
    height: 130px;
    margin: 0px;
    padding: 0px;
    width: 728px;
}

#photo-gallery-large-image-carousel .carousel-list {
    position: relative;
    left: 0;
    width: 1918px;
}

#photo-gallery-large-image-carousel .carousel-viewport {
    height: 100%;
    float: left;
    padding: 0 0 0 2px;
    margin: 0 auto;
    overflow: hidden;
    width: 680px;
    position: relative;
}

#photo-gallery-large-image-carousel .carousel-list-item {
    float: left;
    margin: 10px 0 0;
    text-align: center;
    width: 137px;
}

#photo-gallery-large-image-carousel .carousel-list-item a img {
    border: 1px solid #C2C2C2;
}

#photo-gallery-large-image-carousel .carousel-list-item a:hover img {
    border: 1px solid #000;
}

#photo-gallery-large-image-carousel .left-arrow-btn {
    background-color: #E6E6E6;
    border-right: 1px solid #C2C2C2;
    cursor: pointer;
    height: 100%;
    float: left;
    width: 21px;
}

#photo-gallery-large-image-carousel .arrow-border {
    border: 1px solid #FFF;
    height: 128px;
    width: 19px;
}

#photo-gallery-large-image-carousel .right-arrow-btn {
    background-color: #e6e6e6;
    border-left: 1px solid #C2C2C2;
    cursor: pointer;
    height: 100%;
    float: right;
    width: 21px;
}

#photo-gallery-large-image-carousel .left-arrow {
    background: url(/etc/designs/cro/application-resources/modules/carousel/images/arrow_slide_left.png) 0 0 no-repeat;
    margin: 59px 0 0 7px;
    height: 9px;
    width: 9px;
}

#photo-gallery-large-image-carousel .right-arrow {
    background: url(/etc/designs/cro/application-resources/modules/carousel/images/arrow_slide_right.png) 0 -9px no-repeat;
    margin: 59px 0 0 7px;
    height: 9px;
    width: 9px;
}

#photo-gallery-large-image-carousel .left-arrow:hover {
    background: url(/etc/designs/cro/application-resources/modules/carousel/images/arrow_slide_left.png) no-repeat;
}

#photo-gallery-large-image-carousel .right-arrow:hover {
    background: url(/etc/designs/cro/application-resources/modules/carousel/images/arrow_slide_right.png) no-repeat;
}

#photo-gallery-large-image-carousel .carousel-list-item:hover img {
    border: 1px solid #000000;
}

#photo-gallery-large-image-carousel .carousel-parsys .carousel-list-item {
    float: none;
}

.carousel-parsys {
    margin: -1px;
    border: 1px solid #C2C2C2 !important;
    padding: 12px 0 0 0px;
    width: 546px;
    float: left;
    background-color: #F8F8F8;
}

.carousel-parsys-message {
    font: 12px/16px Arial, Helvetica, sans-serif;
    padding: 0 0 10px 10px;
}

#photo-gallery-large-image-carousel .carousel-list-item img.cq-dd-image {
    width: 120px;
    height: 88px;
}

#photo-gallery-large-image-carousel .on .carousel-list-item {
    border: 1px solid #F8F8F8;
    height: 136px;
}

#photo-gallery-large-image-carousel .on .carousel-list-item img, #photo-gallery-small-carousel .on img {
    border: 1px solid #000000;
}

<!--
* * * * CSS CHANGES END HERE

-->

