@charset "utf-8";
/* CSS Document */

a:link {
    color: #176fcc;
    text-decoration: none;
}

a:visited {
    color: #176fcc;
    text-decoration: none;
}

a:hover {
    color: #176fcc;
    text-decoration: underline;
}

.overview-selected-model a:active {
    color: #176fcc;
    text-decoration: underline;
}

.more-ratings {
    float: left;
    width: 180px;
    margin: 0 0 20px 0;
    padding: 0;
}

.more-ratings .header {
    float: left;
    clear: both;
    width: 180px;
    margin: 0;
    padding: 0;
}

.more-ratings .header img {
    border: none;
    padding: 0;
    margin: 0;
}

.more-ratings .container {
    float: left;
    clear: both;
    width: 166px;
    margin: 0;
    padding: 0 6px 12px 6px;
    background: #eef1f6;
    border: 1px solid #B5BFC7;
    border-top: none;
}

.more-ratings .container .cr-recommended-header {
    float: left;
    clear: both;
    width: 164px;
    margin: 11px 0 0 0;
    padding: 0;
    background: url(../images/more_ratings_bar_bkg.gif) repeat-x;
    border: 1px solid #B5BFC7;
    border-bottom: none;
}

.more-ratings .container .cr-recommended-header .recommended {
    float: left;
    font: bold 11px Arial, Helvetica, sans-serif;
    padding: 3px 6px;
    margin: 0;
}

.more-ratings .container .cr-recommended-header .toggle {
    float: right;
    border: none;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 20px;
}

.more-ratings .container .cr-recommended-header .toggle img {
    border: none;
    padding: 0;
    margin: 0
}

.more-ratings .container .model-information {
    float: left;
    clear: both;
    width: 146px;
    margin: 0;
    padding: 9px;
    border: 1px solid #B5BFC7;
    border-top: none;
    background: #fff;
}

.more-ratings .container .model-information .product-image {
    float: left;
    width: 57px;
    margin: 4px 0 0 0;
    padding: 0;
}

.more-ratings .container .model-information .product-info {
    float: left;
    width: 75px;
    margin: 2px 0 0 0;
    padding: 0 0 0 6px;
    font: normal 11px/14px Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.more-ratings .container .model-information .product-info .make {
    float: left;
    clear: both;
    width: 88px;
    font-weight: bold;
}

.more-ratings .container .model-information .product-info .make a:link {
    font-weight: bold;
}

.more-ratings .container .model-information .product-info .make a:visited {
    font-weight: bold;
}

.more-ratings .container .model-information .product-info .make a:hover {
    font-weight: bold;
}

.more-ratings .container .model-information .product-info .make a:active {
    font-weight: bold;
}

.more-ratings .container .model-information .product-info .model {
    float: left;
    clear: both;
    width: 88px;
}

.more-ratings .container .model-information .product-info .model-number {
    float: left;
    clear: both;
    width: 88px;
}

.more-ratings .container .model-information .product-info .price {
    float: left;
    clear: both;
    width: 88px;
}

.more-ratings .container .model-information .product-info .condition .year {
    font-weight: bold;
}

.more-ratings .container .model-information .see-all-type {
    float: left;
    clear: both;
    width: 146px;
    margin: 0;
    padding: 0;
    font: normal 11px Arial, Helvetica, sans-serif;
}

.more-ratings .container .model-information .see-all-recommended {
    float: left;
    clear: both;
    width: 146px;
    margin: 6px 0 0 0;
    padding: 0;
    font: bold 11px Arial, Helvetica, sans-serif;
}

.more-ratings .container .model-information .see-all-recommended a:link {
    font-weight: bold;
}

.more-ratings .container .model-information .see-all-recommended a:visited {
    font-weight: bold;
}

.more-ratings .container .model-information .see-all-recommended a:hover {
    font-weight: bold;
}

.more-ratings .container .model-information .see-all-recommended a:active {
    font-weight: bold;
}

.more-ratings .container .model-information .see-all-ratings {
    float: left;
    clear: both;
    width: 146px;
    margin: 6px 0 0 0;
    padding: 0;
    font: bold 11px Arial, Helvetica, sans-serif;
}

.more-ratings .container .model-information .see-all-ratings a:link {
    font-weight: bold;
}

.more-ratings .container .model-information .see-all-ratings a:visited {
    font-weight: bold;
}

.more-ratings .container .model-information .see-all-ratings a:hover {
    font-weight: bold;
}

.more-ratings .container .model-information .see-all-ratings a:active {
    font-weight: bold;
}

.more-ratings .footer {
    float: left;
    clear: both;
    width: 180px;
    margin: 0;
    padding: 0;
}

.more-ratings .footer img {
    border: none;
    padding: 0;
    margin: 0;
}
