body {

    font: normal 12px Arial, Helvetica, sans-serif;
}

a:link {
    color: #176FCC;

    font-weight: normal;
    text-decoration: none;
}

a:visited {
    color: #176FCC;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: #176FCC;
    font-weight: normal;
    text-decoration: underline;
}

a:active {
    color: #176FCC;
    font-weight: normal;
    text-decoration: underline;
}

.prReviewPoints {
    width: 100%;
}

.pr-review-rating {
    float: left;
}

.pr-review-engine .pr-review-rating-headline {
    float: left;
    font-weight: bold;
}

.pr-review-engine {
    width: 100%;
}

/* styles that have changed */

.pr-review-engine .pr-attribute-value-list li {

    line-height: 1.4em;
}

.pr-review-engine {
    float: left;
    width: 100%;
}

.pr-review-engine p {
    font: 12px/16px Arial, Helvetica, sans-serif;
}

.pr-review-engine {
    font: normal 12px/16px Arial, Helvetica, sans-serif;
}

.pr-review-engine .pr-snapshot-title {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 114%;
    font-weight: bold;
}

.pr-review-engine .pr-review-count {
    float: left;
    margin: 0;
    vertical-align: bottom;
    font-weight: bold;
    line-height: 1.4em;
}

.pr-review-engine .pr-nav-back-to-top {
    float: left;
    display: none;
}

.pr-review-engine .pr-snapshot-head {
    background: none;
    background-color: #EEF1F6;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #C3D2E0;
    padding: 3px 0 3px 12px;
    background-repeat: repeat-x;
    margin: 0px;
}

.pr-review-engine .pr-snapshot-body {
    border: 0;
    background-color: #fff;
    padding: 0 .5em .5em;
}

.pr-review-engine .pr-snapshot-body-wrapper {
    border: 0px solid;
    background-color: #fff;
}

.pr-review-engine .pr-rating {
    background-color: #F8F8F8;
    border: 1px solid #C2C2C2;
    color: #000000;
    padding: 0 0.4em;
    font-weight: bold;

}

.pr-review-engine .pr-snapshot-consensus-value {
    background: none;
    font-weight: bold;
    border: 1px solid #C2C2C2;
    color: #000000;
    background-color: #f8f8f8;
    clear: both;
    float: none;
}

.pr-review-engine .pr-attribute-key p {
    background-color: #fff;
    display: block;
    font-weight: bold;
    padding: .4em .4em .3em;
    margin: 0;
    text-transform: none;
    text-align: left;
}

.pr-review-engine .pr-review-faceoff {
    background-color: #fff;
    border-color: #c3d2e0;
    border-style: solid;
    border-width: 0 1px;
    font-size: 100%;
    padding: 0;
}

.pr-review-engine .pr-review-faceoff-review-wrapper {
    background-color: #FFF;
    border: none;
    border-top: 1px solid #c3d2e0;
    padding: 1em;
    position: relative;
    *zoom: 1;
    *height: 1%;
}

.pr-review-engine .pr-review-faceoff-img {
    border-right: 1px solid #c3d2e0;
    float: left;
    height: 90%;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 1px;
}

.pr-review-engine .pr-other-attributes-list li.pr-other-attribute-label {
    float: left;
    width: 30.25%;
    margin-right: 2%;
    clear: left;
    text-transform: none;
    font-weight: bold;
    padding: 0 0 0 0;
    background-image: none;
}

.pr-review-engine .pr-snapshot-write-review {
    background-image: none;
    margin: 0;
    display: none;
}

.pr-review-engine .pr-review-sort, #user-overview .pr-review-sort {
    border-top: 1px solid #c3d2e0;
    border-bottom: 1px solid #c3d2e0;
    border-left: 0 none;
    border-right: 0 none;
    background-color: #EEF1F6;
    text-align: right;
}

.pr-review-engine .pr-contents {
    border: 0;
    padding: 0 .4em .5em;
    background-color: #fff;
}

.pr-review-engine .pr-contents-wrapper {
    background-color: #fff;
    border: 0;
    padding: .5em .7em 1em .7em;
}

.pr-review-engine .pr-review-points-attr-wrapper .pr-attribute-group {
    width: 32%;
    float: left;
    margin-right: 1%;
    overflow: hidden;
    border: 0;
    border-right: 1px solid #C2C2C2;
}

.pr-review-engine .pr-review-points-attr-wrapper .pr-last {
    border-right: 0;
}

.pr-review-engine .pr-attribute-label-pros {
    color: #000;
}

.pr-review-engine .pr-attribute-label-cons {
    color: #000;
}

.pr-review-engine .pr-other-attributes {
    font: normal 12px/16px Arial, Helvetica, sans-serif;
    padding: 0;
}

.pr-review-engine .pr-other-attributes ul, .pr-other-attributes-histogram ul, .pr-other-attributes-subratings ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font: 12px/16px Arial, Helvetica, sans-serif;
}

.pr-review-engine .pr-review-faceoff-label {
    padding: 0;
    margin: 0 0 .3em;
    font-weight: bold;
}

.pr-review-engine .pr-review-bottom-line-wrapper .pr-review-bottom-line {
    text-transform: none;
    color: #000;
}

.pr-review-engine .pr-review-tools p {
    display: inline;
    font-style: normal;
}

.pr-review-engine .pr-review-author-date {
    padding: .2em .6em;
    border: 0;
    background: none;
    font-size: smaller;
    text-transform: uppercase;
    text-align: center;
    float: right;
    margin: 0 0 0 1em;
}

.pr-review-engine .pr-review-wrap {
    border-bottom: 1px solid #C3D2E0;
    padding: 1em 0;
    margin: 1em 0;
}

.pr-review-engine .pr-pagination-top {
    text-align: right;
    padding: .5em 0 .7em;
    margin-bottom: 1em;
    border-bottom: 1px solid #c3d2e0;
}

.pr-review-engine .pr-snapshot-consensus {
    clear: left;
    display: block;
    float: left;
    margin-bottom: 1em;
    margin-top: .5em;
    padding: 2px 0 1px 0;
}

.pr-review-engine .pr-snapshot-cobrand {
    display: none;
}

.pr-review-wrap .pr-review-author {
    float: left;
    margin-right: 30px;
    width: 25%;
}

/* end styles that have changed */

.user-review-bar {
    background: none repeat scroll 0 0 #EEF1F6;
    font: bold 14px Arial, Helvetica, sans-serif;
    padding: 6px 12px;
    border: 1px solid #C3D2E0;
    background: #F1F4F9;
    border-bottom: 0;
}

.user-review-hed {
    font: bold 14px Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

#user-review-container {
    border: 1px solid #C3D2E0;
    padding: 0 15px 0 12px;
}

.user-bio {
    width: 20%;
    float: left;
    padding-bottom: 20px;
    padding-right: 12px;
}

.user-info {
    font-weight: normal;
}

.rating-number {
    background-color: #f8f8f8;
    border: 1px solid #c2c2c2;
    width: 16px;
    float: left;
    padding: 0 2px;
    font-weight: bold;
}

.review-separator {
    border-bottom: 1px solid #C3D2E0;
    margin-bottom: 30px;
    clear: both;
}

.user-review {
    margin: 10px;
    clear: both;
    font-size: 12px;
    line-height: 16px;
}

.displaying-reviews {
    border-bottom: 1px solid #C3D2E0;
    padding-bottom: 30px;
}

.user-review-sort {
    background: none repeat scroll 0 0 #EEF1F6;
    text-align: right;
    padding: 10px 10px 10px 0;
    clear: both;
    border-bottom: 1px solid #C3D2E0;
    border-top: 1px solid #C3D2E0;
}

.pr-review-engine .pr-review-content-header {
    display: none;
}

.average-user-rating {
    float: left;
    width: 25%;
    padding: 3px 0 0 3px;
    border-right: 1px solid #bfcad3;
    margin-top: 4px;
}

.average-user-rating-text {
    font: bold 14px Arial, Helvetica, sans-serif;
}

.cr-user-reviews {
    float: left;
    width: 35%;
    padding: 5px 0 0 12px;
}

.other-user-reviews {
    float: left;
    width: 33%;
    padding: 5px 0 0 20px;
}

.based-on-text {
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #666;
}

.pr-cr-stars {
    background-image: url("/cro/feed-resources/power-reviews/pwr/engine/images/stars.gif");
    width: 112px;
    background-repeat: no-repeat;
    height: 2.1em;
    line-height: 1.25em;
    margin: 0 0.25em 0 0;
    padding: 0;
    position: relative;
}

.pr-date {
    color: #666;
}




