@external titleInfo, dateInfo, created, updated;

.cellListWidget {
}

.cellListEvenItem {
    background-color: #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 8px;
}

.cellListOddItem {
    background-color: #fff;
    margin-bottom: 25px;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 8px;
}

.cellListSelectedItem {
    background: none;
    background-color: #fff;
    margin-bottom: 25px;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 8px;
}

.titleInfo {
    float: left;
    border-right: 1px solid #dddddd;
    width: 429px;
    font-family: 'Droid Sans', sans-serif;
    padding-right: 25px;
    height: 40px;
}

.titleInfo h3 {
    color: #3f3427;
    font-weight: bold;
    font-size: 17px;
}

.titleInfo h3:hover {
    color: #0059b2;
}

.dateInfo {
    float: left;
    width: 180px;
    padding-left: 15px;
}

.dateInfo .created {
    font-family: 'Droid Sans', sans-serif;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.dateInfo .updated {
    font-family: 'Droid Sans', sans-serif;
    color: #666666;
    font-size: 12px;
    font-style: italic;
}




