commands:
  fix-shellshock:
    command: rpm -qa | grep -qw bash-4.1.2 || yum install -y http://packages.us-east-1.amazonaws.com/2013.09/updates/556c442ced2f/x86_64/Packages/bash-4.1.2-15.18.20.amzn1.x86_64.rpm
# The current elasticbeanstalk distro 2012.09 cannot be
# updaated. Doing so introduces numerous problems with the Java NM
# heap memory and MySQL JDBC drivers.
#  update-distro:
#    command: yum update -y