container_commands:
  replace-config:
    command: "perl -p -e \"s/{PARAM2}/${PARAM2}/g\" .ebextensions/aws-context.xml > context.xml.tmp; perl -p -e \"s/{MEMCACHE_HOST}/${MEMCACHE_HOST}/g\" context.xml.tmp > context.xml; mv context.xml /etc/tomcat7/context.xml"
  setup-tomcat-libs:
    command: "cp .ebextensions/*.jar /usr/share/java/tomcat7"