Hi,
Someone recently added this email address to your stori.es account.  If this was you, you can confirm you own this email address by clicking on the following link:
${confirmLink}

If you don't want to confirm your email address or didn't request this, you can ignore and delete this message.

This confirmation request is valid for the next 6 hours.

Thanks!
The stori.es Team
--
You are receiving this email because you are a user of Consumer Union's stori.es platform.

#cuContact
