Hi,
Someone recently requested a password change for your stori.es account.  If this was you, you can set a new password by clicking on the following link:
${resetLink}

If you don't want to change your password or didn't request this, you can ignore and delete this message.

This password reset request is valid for the next 6 hours.  If the link above has expired, you can still request to reset your password:
https://stori.es/forgot-password

Thanks!
The stori.es Team
--
You are receiving this email because you are a user of Consumer Union's stori.es platform.

#cuContact
