Thank you for taking action with ${organization.name}. This message confirms that we've received your submission.
#if ($contact.status == "UNVERIFIED")

If you would like to verify your email address with ${organization.name}, click on the following link. This lets us know you've received this message : ${verificationLink}
#end

${organization.name} and the stori.es team


--
You are receiving this email because you took action with ${organization.name} via Consumers Union's stori.es platform.
This is a one-time message so there's no need to unsubscribe.

#cuContact
